@import url('https://fonts.googleapis.com/css2?family=Istok+Web:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.fonstDashBoard {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.text-transition {
    transition: background-color 0.5s ease, width 0.5s ease;
    /* Geçiş süreleri ve efektleri */
}

body {
    background-color: #F9FAFB;
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.animate-fall {
    animation: fall 1s ease-out forwards;
}

.writing-mode-vertical {
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    height: 100px;
    text-align: end;
}

.clip-pentagon {
    clip-path: polygon(50% 0%, 100% 38%, 81% 100%, 19% 100%, 0% 38%);
}